h1 {
  font-size: 4em;
  font-family: 'Germania One', cursive;
  color: cadetblue;
  text-shadow: 2px 2px 2px black;
}

h1:hover {
  color: red;
}

ul {
  color: green;
  font-size: 1.5em;

  font-family: 'Pangolin', cursive;
}
